# Ignorar credenciales sensibles
scripts/serviceAccountKey.json
# Node
node_modules/
dist/
.env
.env.*
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
.vite/

# VSCode
.vscode/

# Firebase
.firebase/
firebase-debug.log
firebase-error.log
firestore.indexes.json
firestore.rules

# Mac/Windows
.DS_Store
Thumbs.db

# Build output
build/
out/

# Others
*.local
*.sublime*
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
